@model WebProductList.Models.Product

@{
    ViewData["Title"] = "Создание продукта";
    Layout = "_Layout";
}

<h1>Добавление нового продукта</h1>

<h4>Новый продукт</h4>
<hr />
<form method="post" action="/ProductList/Create">
    <div>
        <p>
            <label>Введите название</label><br />
            <input type="text" name="Name" required /><br />
        </p>
        <p>
            <label>Введите описание</label><br />
            <input type="text" name="Description" required /><br />
        </p>
        <p>
            <label>Введите цену</label><br />
            <input type="number" name="Price" required /><br />
        </p>
        <p>
            <input type="submit" value="Создать" />
        </p>
    </div>
</form>

<div>
    <a href="/ProductList/Index">Вернуться к списку</a>
</div>